<%= include_gon %>

<!DOCTYPE html>
<html>
  <head>
    <title>Code</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/jquery.cookie.js"></script>
    <script src="/javascripts/common.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
